<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de Restaurantes</h1>

    {% for restaurante in lista_restaurantes %}
        <ul>
            <li> Nombre: {{restaurante.nombre}},
                 Tipo de comida: {{restaurante.tipo_comida}},
                 Dirección: {{restaurante.direccion}},
                 Telefono: {{restaurante.telefono}},
                 Rango de precios: {{restaurante.rango_precios}},
                 Horario: {{restaurante.horario},
             </li>
        </ul>
    {% endfor %}
    
</body>
</html>